@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}
